/* Size of items defined inside items */
.row {
    margin: 20px auto;
    max-width: 300px;
    display: flex;
}

.row > div {
    border: 1px dashed gray;
    flex: 1 1 auto; 
    text-align: center;
    padding: 12px;
}

 /* Size of items defined inside container */
/* .row {
    margin: 20px auto;
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row div {
    border: 1px dashed gray;
    text-align: center;
    padding: 12px;
} */

/* Flexbox row styles */
.row-flex {
    margin: 40px auto;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
  }
  .row-flex div {
    border: 1px dashed gray;
    flex: 1 1 70px;
    text-align: center;
    padding: 12px;
  }

  /* Grid row styles */
  .row-grid {
    margin: 40px auto;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  .row-grid div {
    border: 1px dashed gray;
    text-align: center;
    padding: 12px;
  }